<plugin name='modules-manager' version='0.1.0' grailsVersion='2.0 &gt; *'>
  <author>Karol Balejko</author>
  <authorEmail>kb@groovydev.com</authorEmail>
  <title>Resources Modules Manager Plugin</title>
  <description>Create resources modules from maven central dependencies.</description>
  <documentation>http://grails.org/plugin/modules-manager</documentation>
  <type>ModulesManagerGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>